on: push
name: Bicep deploy

jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    steps:

    - uses: actions/checkout@main
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Deploy Bicep file
    - name: deploy
      uses: azure/arm-deploy@v1
      with:
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ secrets.AZURE_RG }}
        template: ./infra/*.bicep
        parameters: storagePrefix=rustystore
        failOnStdErr: false